.titre{
    background-color: cornflowerblue;
    margin:10px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divtext{
    margin:5px 10px 5px 15px;
    padding:10px;
    border-radius: 10px;
    
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.clearBoth{
    clear: both;
}

.img3{
    position: relative;
    margin-top: 10px;
    left: 300px
}
.div1{
    background-color: red;
}
.div2{
    background-color: green;
}
.div3{
    background-color: blue;
}
.box{
    display: flex;
    flex-flow: row wrap;
}

.divSize1,.divSize2,.divSize3{
    width: 50%;
      
}
.divSize1:hover{
    background-color: yellow;
}
.divSize2:hover{
    background-color: yellow;
}





